body {
    background-color: grey;
}

.addedDiv {
    display:inline-block;
    height: 100px;
    width: 120px;
    border: 2px solid;
    margin: 10px;
    padding: 20px;
    background-color: red;
}

p {
    text-align: center;
}